<!DOCTYPE html>
<html>
    <head>
        <title>Krib | Ratings</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" /> 
        <script src="../js/jquery.js"></script> 
        <script src="../js/bootstrap.js"></script>  
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#collapse-links">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Krib</a>
            </div>

            <div class="collapse navbar-collapse" id="collapse-links">
                <ul class="nav navbar-nav">
                    <li><a href="user_dashboard.html">Home</a></li>
                    <li><a href="my_profile.html">My Profile</a></li>
                    <li><a href="my_reservations.html">My Reservations</a></li>
                    <li><a href="log_in.html">Sign Out</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <!-- TODO: place the form to the center of the screen --> 
                <div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-5 col-md-4 col-lg-2"><img  width="200" src="../img/subaru.jpg" class="img-rounded img-thumbnail img-responsive" alt="House" /></div>
                                <div class="col-sm-7 col-md-8 col-lg-10">
                                    <div><h3>Melissa Rowlings</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <span>Average Rating</span>
                                        </div> 
                                        <div class="col-xs-10">
                                            <span class="badge">4.5</span>
                                        </div> 
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div> 

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="../img/img_avatar2.png" width="80" alt="mellisa_robins">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Mellisa Robins</h4>
                                A very interesting place to live. I would like to live there 
                                again.
                                <div>
                                    <span>Rating </span> <span class="badge">5</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="../img/img_avatar2.png" width="80" alt="mellisa_robins">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Mellisa Robins</h4>
                                A very interesting place to live. I would like to live there 
                                again.
                                <div>
                                    <span>Rating </span> <span class="badge">5</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="../img/img_avatar2.png" width="80" alt="mellisa_robins">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Mellisa Robins</h4>
                                A very interesting place to live. I would like to live there 
                                again.
                                <div>
                                    <span>Rating </span> <span class="badge">5</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="../img/img_avatar2.png" width="80" alt="mellisa_robins">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Mellisa Robins</h4>
                                A very interesting place to live. I would like to live there 
                                again.
                                <div>
                                    <span>Rating </span> <span class="badge">5</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
