<!DOCTYPE html>
<html>
    <head>
        <title>Krib | Console</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" /> 
        <script src="../js/jquery.js"></script> 
        <script src="../js/bootstrap.js"></script>
         <style>
            .navbar-default{
                background-color: #025402
            }
            .navbar-links{
                color: #ccc;
            }
            
            .navbar-links:hover{
                color: white;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#collapse-links">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" style="color: white" class="navbar-brand">Krib</a>
            </div>

            <div class="collapse navbar-collapse" id="collapse-links">
                <ul class="nav navbar-nav">
                    <li><a style="color: white" href="#">Cities</a></li>
                    <li><a href="estates.html"><span class="navbar-links">Estates</span></a></li>
                    <li><a href="sub_estates.html"><span class="navbar-links">Sub-Estates</span></a></li>
                    <li><a href="log_in.html"><span class="navbar-links">Sign Out</span></a></li>
                </ul>
            </div>
        </nav>

        <div class="container" style="margin-top: 55px">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Add City</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <input type="text" placeholder="Enter City Name" class="form-control" id="addCity" />
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary">Add City</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert alert-success">Nairobi Added Successfully! <span data-dismiss="alert" class="close">&times;</span></div>
            <div class="alert alert-danger">Oops. There was an error adding the city. <span data-dismiss="alert" class="close">&times;</span></div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Sr. No</th> 
                        <th>City</th> 
                        <th class="text-danger">Remove</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td> 
                        <td>Nairobi</td> 
                        <td><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td> 
                    </tr> 
                    <tr>
                        <td>2</td> 
                        <td>Mombasa</td> 
                        <td><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td> 
                    </tr> 
                    <tr>
                        <td>3</td> 
                        <td>Kisumu</td> 
                        <td><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td> 
                    </tr> 
                </tbody> 
            </table>

        </div>
    </body>
</html>
